
.parallax {
}

.center {
  text-align: center;
}

.footer {
  min-height: 5em;
}

.section-block {
  margin-bottom: 5em;
}

.top-image {
  height: 50em;
  background: transparent url('../images/stillwater.jpg') center center;
}
