.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}


.heading {
  font-family: "Amatic SC", "Open Sans", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.sub-headings {
  font-family: "Cabin+Sketch", "Open Sans", serif;
}

.copy {

}

.rounded {
  border-radius: 5px;
}

.paper {
  background: transparent url('../images/lightpaperfibers.png') top center repeat;
}

.heading-container {
  background: transparent url('../images/site-header-noBG.png') top center no-repeat;
  padding-left: 33.33333%;
  padding-top: 5em;
  min-height: 10em;
  margin-bottom: 6em;
  background-size: 100% auto;
  text-align: center;
}

h1 {
  font-family: "Amatic SC", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 5em;
  color: #858589;
}

h1 a {
  color: inherit;
}

h1 a:hover {
  color: inherit;
}

h2 {
  font-family: "Amatic SC", "Open Sans", sans-serif;
  font-weight: 500;
  color: #67678;
  font-size: 4em;
  padding-top: 0;
}

h3 {
  font-family: "Cabin Sketch", "Open Sans", serif;
  font-size: 2em;
}

.center {
  text-align: center;
}

.footer {
  min-height: 5em;
}

.section-block {
  margin-bottom: 5.5em;
}

.top-image {
  height: 42em;
  background: transparent url('../images/stillwater.jpg') center center;
}

#mapSite,
#mapExtras,
#mapExtras-cities {
  width: 100%;
  height: 32em;
  margin-bottom: .5em;
}

#mapExtras + h3 {
  margin-top: 1em;
}

ul {
  margin-left: 2em;
  list-style-type: circle;
  margin-bottom: 1em;
}

.trinket-spacer {
  background: transparent url('../images/jar-50x46.png') center center no-repeat;
  min-height: 100px;
  margin-bottom: 5.5em;
}

.jar {
  background-image: url('../images/jar-50x46.png');
  min-height: 50px;
}

.jars {
  background-image: url('../images/jars-100x51.png');
  min-height: 60px;
}

.jars-other {
  background-image: url('../images/jars-other-125x115.png');
  min-height: 120px;
}

.lantern {
  background-image: url('../images/lantern-star-125x110.png');
  min-height: 125px;
}

table .day {
  width: 25%;
  font-size: 1.25em;
  font-family: "Cabin+Sketch", "Open Sans", serif;
  padding-bottom: 1em;
}

.schedule-time {
  display: inline-block;
  min-width: 6em;
}



.save-the-date h1 {
  text-align: center;
  font-weight: 500;
}

.save-the-date h3 {
  text-align: center;
}

.save-the-date h3 a {
  color: #444444;
}

.save-the-date .trinket-spacer.jar {
  margin-bottom: 2em;
}

.slick-prev {
  left: -60px;
}
.slick-prev:before {
  color: #858589;
  font-size: 50px;
}
.slick-next {
  right: -30px;
}
.slick-next:before {
  color: #858589;
  font-size: 50px;
}


#photo-booth-slide-show .slick-slide {
  opacity: 0.4;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#photo-booth-slide-show .slick-slide.slick-center {
  opacity: 1;
}
.slick-slide .booth-image {
  padding: 10px 20px;
  background: transparent url(../bower_components/slick.js/slick/ajax-loader.gif) center center no-repeat;
  min-height: 20em;
}
.slick-slide.slick-center .booth-image {
}

#photo-booth-slide-show,
#wedding-slide-show {
  width: 100%;
}

#wedding-slide-show .booth-image {
  text-align: center;
}
#wedding-slide-show .booth-image img {
  margin: 0 auto;
  max-height: 40em;
}



@media only screen and (max-width: 740px) {

  .heading-container {
    padding-left: 0%;
    padding-top: 5em;
  }

  #photo-booth-slide-show .slick-slide {
    opacity: 1;
  }
}

@media only screen and (max-width: 1025px) {

  .slick-prev {
    left: 25px;
  }
  .slick-next {
    right: 60px;
  }
}

@media only screen and (max-width: 810px) {

  .slick-slide {
    opacity: 1;
  }
}
