
h1 {
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

.footer {
  min-height: 5em;
}

.section-block {
  margin-bottom: 5em;
}

.top-image {
  height: 42em;
  background: transparent url('../images/stillwater.jpg') center center;
}

#mapSite,
#mapExtras {
  width: 100%;
  height: 32em;
}

#mapExtras + h3 {
  margin-top: 1em;
}

ul {
  margin-left: 2em;
  list-style-type: circle;
}
